

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #091921 ;
	min-height: 100vh;

}
body::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#e91e63,#ffc107);
	clip-path: circle(20% at 30% 20%);
}

body::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#e91e63,#ffc107);
	clip-path: circle(25% at 75% 93%);
}
.container{
	position: relative;
	background: rgba(255, 255, 255, 0.05);
	
	overflow: hidden;
	z-index: 5;
	backdrop-filter: blur(14px);
	border-top: 1px solid rgba(255,255,255,0.05);
	border-left: 1px solid rgba(255,255,255,0.05);
	box-shadow: 5px 10px 30px rgba(0,0,0,0.2);
	border-radius: 10px;
}
.container  .calculator{
	position: relative;
	display: grid;
}

.container  .calculator .value{
	grid-column: span 4;
	height: 140px;
	width: 300px;
	text-align: right;
	border: none;
	outline: none;
	padding: 9px;
	font-size: 25px;
	background: transparent;
	color: #fff;

	border-bottom: 1px solid rgba(255,255,255,0.05);
	border-right: 1px solid rgba(255,255,255,0.05);
}
.container  .calculator span{
	display: grid;
	width: 75px;
	height: 65px;
	place-items: center;
	color: #fff;
	font-weight: 350;
	cursor: pointer;
	font-size: 20px;
	user-select: none;
	border-bottom: 1px solid rgba(255,255,255,0.05);
	border-right: 1px solid rgba(255,255,255,0.05);
}

.container  .calculator span:hover{
	transition: 0s;
	background-color: rgba(255,255,255,0.06);
}
.container  .calculator span:active{
	transition: 0s;
	background-color: #14ff47;
	color: #000;
}
.container  .calculator .clear{
	grid-column: span 2;
	width: 150px;
}
.container  .calculator .plus{
	grid-row: span 2;
	height: 130px;
}